table {
    border: 1px solid darkslategray;
    margin: 0;
    font-size: 14px;
}

th, td {
    width: 150px;
    padding: 5px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

th {
    background-color: darkslategray;
    color: white;
    text-transform: uppercase;
    border: 1px solid gray;
}

tr:nth-of-type(even) {
    background-color: lightgray;
}

div > button {
    margin-top: 10px;
}
label {
    display: block;
}
.edit-column {
    text-align: center;
}